
&spi0 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi0_default>;
    pinctrl-1 = <&spi0_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

    pointing_device: pointing_device@0 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        irq-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
        power-gpios = <&gpio0 8 (GPIO_ACTIVE_HIGH | NRF_GPIO_DRIVE_H0H1)>;
    };
};

/ {
    /* Listener settings to control the behavior of the trackball */
    input_listener {
        compatible = "zmk,input-listener";
        device = <&pointing_device>;
        input-processors =
            /* Scroll mode (layer 5)*/
//            <&zip_temp_layer 5 0>, // Effective only while on Layer 5 (no delay)
//            <&zip_scroll_scaler 1 2>, // Scroll sensitivity setting (making the denominator larger slows it down)

            /* Auto mouse layer (layer 1) */
            <&zip_temp_layer 1 1200>; //Once it starts moving, go to Layer 1; stop and recover in 1 second.

    };
};